.ourStoryG {
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 50px 90px 70px 90px;
}

.ourStoryG .innerOss {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.ourStoryG .innerOss .imageSecSs {
    position: relative;
    height: 100%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ourStoryG .innerOss .detailsSs {
    width: 45%;
    position: absolute;
    height: 70%;
    top: 5%;
    overflow: hidden;
    left: 0;
    padding: 40px;
    z-index: 2;
}

.ourStoryG .innerOss .detailsSs .headerIdss {
    position: relative;
    font-size: 4.3rem;
    font-family: 'Kristi', cursive;
    color: #cfa670;
    font-style: italic;
    line-height: 50px;
    text-transform: capitalize;
}

.ourStoryG .innerOss .detailsSs .titleIdss {
    position: relative;
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #222222;
    letter-spacing: -4px;
    line-height: 1em;
    margin: 10px 0;
    font-weight: 300;
}

.ourStoryG .innerOss .detailsSs .mainIdss {
    position: relative;
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
    color: #424242;
    line-height: 1.8;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.ourStoryG .innerOss .detailsSs .messageIdss {
    position: relative;
    font-size: .85rem;
    font-family: 'Lato', sans-serif;
    color: #777575;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 20px;
    word-spacing: 4px;
    text-align: left;
    padding-right: 50px;
}

.ourStoryG .innerOss .detailsSs .signatureIdss {
    position: relative;
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Kristi", sans-serif;
}